@{
    ViewData["Title"] = "Agregar Evento";
}
@model Evento
<h2>Formulario para agregar un evento al calendario</h2>
@Html.ValidationSummary()
<form asp-action="Agregar" method="post">

<div class="form-group">
    <label>Nombre:</label>
    <input type="text" class="form-control" asp-for="Nombre" />
    <label>Direccion:</label>
    <input type="text" class="form-control" asp-for="Direccion" />
    <label>Foto:</label>
    <input type="text" class="form-control" asp-for="Foto" />
    <label>Descripcion: </label>
    <input type="text" class="form-control" asp-for="Descripcion" />
    <label>Fecha:</label>
    <input type="date" value="2018-11-12" class="form-control" asp-for="Fecha" min="2018-11-12"/>
    
</div>
<button type="submit">Registrar</button>

</form>


